*{
    margin: 0px;
    padding: 0px;
    
}
body{
    margin: 8px;
}

.container{
    width:100%;
    display: flex;
   
   flex-direction:column;
   align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}
   
   .data{
    width:30%;
   }
   h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
   }
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: rgba(0,0,0,0.6);
}

